.homepage {
  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .curriculum-container {
    margin: 20px;
    width: 100%;
  }

  .boton-atras,
  .botones {
    margin: 10px;
  }

  .controls {
    width: 90%;
    padding-left: 20px;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 20px;
    z-index: 6;
  }
  .desplazamiento {
    display: flex;
    flex-direction: row;
  }
}
