.modelo1 {
  $font-stack: "Helvetica Neue", Arial, sans-serif;
  $primary-color: #333;

  font-family: $font-stack;
  color: $primary-color;
  padding: 1rem;

  main.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    & * {
      justify-self: center;
    }

    @media (max-width: 1600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
