$documentBgColor: #fff;
$shadowColor: rgba(0, 0, 0, 0.1);
$barColor: #333;

.modelo2 {
  font-family: "Arial", sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: $documentBgColor;
  box-shadow: 0 0 10px $shadowColor;
  position: relative; // Para asegurar que las manchas se posicionen correctamente

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-photo {
    border-radius: 50%;
    width: 100px;
  }

  .header h1 {
    margin: 0;
    font-size: 24px;
  }

  .header p {
    font-size: 14px;
  }

  .horizontal-bars {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;

    .bar {
      height: 2px;
      background-color: $barColor;
    }
  }

  .content {
    display: flex;
    gap: 20px;
  }

  .column {
    flex: 1;
    position: relative; // Para asegurar que las manchas se posicionen correctamente
  }

  .column h2 {
    margin-top: 0;
  }

  .animated-section {
    position: relative;
    overflow: hidden;
    z-index: 2; // Para asegurar que el texto esté por encima de las manchas
  }
}
