body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h2,
h3 {
  color: #000;
}

nav ul li a {
  color: #333;
}

.container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

section {
  background-color: #eaeaea;
  padding: 15px;
  border-radius: 8px;
}
