button {
  right: 10px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-image: linear-gradient(to right, #f7f7f7 0%, #95afc5 100%);
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

button:hover {
  background-image: linear-gradient(to left, #95afc5 0%, #f7f7f7 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
