.flip-container {
  perspective: 1000px;
  width: 100%; /* Ajusta según tus necesidades */
  height: 100%; /* Ajusta según tus necesidades */
  /* Otros estilos si son necesarios */
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s; /* Asegúrate de que coincida con el tiempo en el setTimeout de React */
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipping-adelante {
  transform: rotateY(180deg);
}

.flipping-atras {
  transform: rotateY(-180deg);
}

/* Asegúrate de que la parte trasera esté girada para que inicialmente no sea visible */
.back {
  transform: rotateY(180deg);
}
