.control-panel {
  background-color: #007bff;
  color: white;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: max-height 0.3s ease, height 0.3s ease; /* Smooth transition */
  overflow: hidden;
  max-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  &.expanded {
    max-height: 300px;
  }

  .control-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;

    .view-toggle-button,
    .expand-button {
      background-color: white;
      color: #007bff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
        color: white;
      }
    }
  }

  .control-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    .language-selector,
    .animation-selector {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        margin-right: 10px;
      }

      .flags,
      .animations {
        display: flex;
        gap: 10px;

        .flag,
        .icon {
          cursor: pointer;
          width: 32px;
          height: 32px;
          transition: transform 0.3s ease;

          &.active {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
