.language-selector {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 10px; /* Espacio después de los botones de navegación */
}

.language-selector button {
  border: 2px solid transparent; /* Prepara un borde para la selección */
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.language-selector button.selected {
  border-color: blue; /* Resalta el botón seleccionado */
}

.language-selector img {
  width: 30px; /* Asegura que las banderas tengan un tamaño uniforme */
  height: auto;
}
